# Ignore the .env file
.env

# Ignore the virtual environment directory
venv/

# Ignore PyCharm settings
.idea/

# Ignore Python cache files
__pycache__/
*.pyc


# Other common ignores
*.py[cod]
*.sqlite3
*.log
*.DS_Store
